@use "../abstracts";

.header {
    background-color: var(--header-bg-color);
    width: 100%;
    @include abstracts.screen(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}
%flexItemCenter {
    display: flex;
    align-items: center;
}

.top-bar {
    position: relative;
    z-index: 1;
    &__more-icon {
        cursor: pointer;
        padding: 10px 10px 10px 0;
    }
    @extend %flexItemCenter;
    justify-content: space-between;
    padding: 30px 0;
    @include abstracts.screen(lg) {
        padding: 20px 0;
    }

    @include abstracts.screen(md) {
        padding: 16px 0;
    }
}

.navbar {
    @include abstracts.screen(md) {
        position: fixed;
        inset: 0 50% 0 0;
        background: var(--sidebar-bg);
        margin-left: 0;
        z-index: 10;
        padding: 20px 0;
        translate: -100%;
        transition: translate 0.3s;
        border-radius: 0px 20px 20px 0px;
        background: var(--header-bg-color);
        box-shadow: 0px 40px 90px 20px var(--sidebar--shadow-color);

        @include abstracts.screen(sm) {
            inset: 0 20% 0 0;
        }
    }
    &--overlay {
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.3s;
        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 9;
            background: rgba($color: #000000, $alpha: 0.4);
        }
    }
    &__close-btn {
        padding: 10px 40px;
        cursor: pointer;
        @include abstracts.screen(sm) {
            padding: 0 20px 10px;
        }
    }
    &__list {
        @extend %flexItemCenter;
        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
            overflow: auto;
            overscroll-behavior: contain;
            height: calc(100% - 44px);
        }
        @include abstracts.screen(sm) {
            height: calc(100% - 135px);
        }
    }
    &__link {
        @extend %flexItemCenter;
        gap: 6px;
        padding: 0 15px;
        height: 50px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        @include abstracts.screen(lg) {
            padding: 0 40px;
            font-size: 1.6rem;
            line-height: 150%;
            justify-content: space-between;
        }
        @include abstracts.screen(sm) {
            height: 44px;
            padding: 0 20px;
        }
    }
    &__item {
        &:hover .dropdown {
            display: block;
        }
        @include abstracts.screen(lg) {
            width: 100%;
            &:hover .dropdown {
                display: none;
            }
            &--active .dropdown {
                @include abstracts.screen(lg) {
                    display: block !important;
                }
            }
        }
    }

    &__arrow {
        margin-top: 5px;

        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: rotate 0.3s;
        }
    }
    &__item--active &__arrow {
        rotate: 0deg;
    }
}
.top-act {
    @extend %flexItemCenter;
    justify-content: space-between;
    gap: 20px;
    &__sign-up {
        @include abstracts.screen(md) {
            height: 40px !important;
            padding: 0 8px !important;
            font-size: 1.5rem !important;
        }
    }
    &__group {
        display: flex;
        align-items: center;
        min-width: 50px;
        height: 50px;
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
        @include abstracts.screen(md) {
            display: none;
        }
    }
    &__btn-wrap {
        position: relative;
        &:hover .act-dropdown {
            display: block;
        }
    }
    &__btn {
        @extend %flexItemCenter;
        gap: 10px;
        padding: 13px 20px;
        cursor: pointer;
    }
    &__title {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act_group-separate);
    }
    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
    }
}
.nav-btn {
    padding: 0 40px;
    height: 50px;
    align-items: center;
    &__title,
    &__qty {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__title {
        margin-left: 16px;
    }
    &__qty {
        margin-left: auto;
    }
    @include abstracts.screen(sm) {
        height: 44px;
        padding: 0 20px;
    }
}

.act-dropdown {
    position: absolute;
    top: 42px;
    right: -70px;
    width: min(545px, 100vw);
    padding-top: 22px;
    display: none;

    &__inner {
        padding: 20px;
        border-radius: 20px;
        background: var(--header-act-dropdown-bg);
        box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-shadow);
    }
    &__arrow {
        position: absolute;
        top: 8px;
        right: 95px;
        height: 21px;
        filter: var(--filter-arrow-bg);
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }
    &__view-all {
        color: var(--blue-blue, #0071dc);
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 145.455%;
    }
    &__bottom {
        margin: 10px 0;
        padding: 10px 0;
        border-width: 1.5px 0;
        border-color: #d2d1d6;
        border-style: solid;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--bold {
            font-weight: 500;
        }
    }
    &__row + &__row {
        margin-top: 10px;
    }
    &__label,
    &__value {
        font-size: 2.2rem;
        line-height: 145.455%;
    }
    &__checkout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-btn {
            min-width: 200px;
            height: 68px;
            border-radius: 50%;
        }
    }

    &__list {
        padding-bottom: 5px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}
.cart-preview-item {
    text-align: left;

    &__img-wrap {
        position: relative;
        padding-top: 100%;
        border: 1px solid #ebebeb;
        border-radius: 10px;
    }

    &__thubm {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__title {
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 142.875%;
    }
    &__price {
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
}

.navbar--overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
}

.menu-checkbox:checked ~ .navbar--overlay {
    opacity: 1;
    visibility: visible;
}
.menu-checkbox:checked ~ .navbar {
    translate: 0;
    transform: translateX(0);
}
