@use "../abstracts";
.home {
    &__container {
        margin-top: 40px;
        @include abstracts.screen(lg) {
            margin-top: 30px;
        }
    }
    &__product {
        margin-bottom: 30px;
        @include abstracts.screen(lg) {
            margin-bottom: 30px;
        }
    }
    &__heading {
        color: var(-categories-heading-color);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
    }
    &__cate {
        --grid-gutter-x: 51px;

        @include abstracts.screen(md) {
            --grid-gutter-y: 20px;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__footer {
        --grid-gutter-x: 10px;
        --grid-gutter-y: 10px;
    }
}
