@use "../abstracts";
html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(235deg) brightness(108%)
        contrast(101%);
    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act_group-separate: #ededf6;
    //dropdown
    --dropdown-bg-color: #171c28;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-bg-before-color: brightness(0) saturate(100%) invert(7%) sepia(22%) saturate(1230%) hue-rotate(184deg)
        brightness(95%) contrast(91%);
    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    --top-menu-border-color: #171c28;

    // Sidebar #171C28
    --sidebar-bg: #292e39;
    --sidebar--shadow-color: rgba(23, 28, 40, 0.4);

    --categories-heading-color: #fff;
    --categories-bg-color: #171c28;
    --categories-bg-md-color: #171c28;
    --categories-bg-thumb-color: #292e39;
    --categories-title-color: #fff;
    --categories-desc-color: #fff;
    // buttons
    --filter-btn-color: #fff;
    --filter-btn-bg-color: #171c28;
    // Product
    --product-bg-color: #171c28;
    --product-shadow-color: rgba(0, 0, 0, 0.2);
    --product-title-color: #fff;

    // Filter form
    --filter-form-bg: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --filter-heading: #fff;
    --filter-tag-bg: #171c28;
    --filter-arrow-bg: brightness(0) saturate(100%) invert(16%) sepia(20%) saturate(561%) hue-rotate(183deg)
        brightness(92%) contrast(92%);
    // sign-up
    --sign-up-intro-bg: #171c28;
    --sign-up-content-bg: #292e39;
    --form-text-input: #b9babe;
}
