<div class="container">
    <div class="footer__inner">
        <div class="home__footer row row-cols-3 row-cols-md-1">
            <div class="col">
                <a href="/" class="logo">
                    <img
                        src="./icons/logo.svg"
                        alt="grocerymark"
                        class="logo__img"
                    />
                    <h3 class="logo__title">TRUONG</h3>
                </a>
                <p class="footer__inner-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Provident labore asperiores unde. Modi sequi reiciendis
                    rerum quibusdam, accusantium nostrum quisquam alias nisi et!
                    Non, ab. Totam culpa unde nostrum quis.
                </p>
            </div>
            <div class="col">
                <h3 class="footer__inner-heading">Về công ty</h3>
                <ul>
                    <li class="footer__inner-item">
                        <a href="#!" class="footer__inner-desc">Giới thiệu</a>
                    </li>
                    <li class="footer__inner-item">
                        <a href="#!" class="footer__inner-desc">Chi nhánh</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h3 class="footer__inner-heading">Liên hệ</h3>
                <ul>
                    <li class="footer__inner-item">
                        <h4>Email</h4>
                        <p class="footer__inner-desc">haih14@gmail.com</p>
                    </li>
                    <li class="footer__inner-item">
                        <h4>Hotline</h4>
                        <p class="footer__inner-desc">0986677928</p>
                    </li>
                    <li class="footer__inner-item">
                        <h4>Địa chỉ</h4>
                        <p class="footer__inner-desc">ABC</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>