<div class="container">
    <div class="top-bar">
        <!-- more -->
        <button
            class="top-bar__more d-none d-lg-block js-toggle"
            toggle-target="#navbar"
        >
            <img
                src="./icons/more.svg"
                alt=""
                class="icon top-bar__more-icon"
            />
        </button>

        <!-- logi -->
        <a href="/trangchu" class="logo">
            <img src="./icons/logo.svg" alt="grocerymart" class="logo__img" />
            <h1 class="logo__title">MÁY LÀM ĐÁ</h1>
        </a>
        <!-- nabar -->
        <nav id="navbar" class="navbar hide">
            <button
                class="navbar__close-btn d-none d-lg-block js-toggle"
                toggle-target="#navbar"
            >
                <img src="./icons/arrow-left.svg" alt="" class="icon" />
            </button>
            <a href="#!" class="nav-btn d-none d-md-flex">
                <img src="./icons/buy.svg" alt="" class="icon nav-btn__icon" />
                <span class="nav-btn__title">Card</span>
                <span class="nav-btn__qty">3</span>
            </a>
            <a href="#!" class="nav-btn d-none d-md-flex">
                <img
                    src="./icons/heart.svg"
                    alt=""
                    class="icon nav-btn__icon"
                />
                <span class="nav-btn__title">Favorite</span>
                <span class="nav-btn__qty">3</span>
            </a>

        </nav>
        <div class="navbar--overlay js-toggle" toggle-target="#navbar"></div>
        <!-- actions -->
        <div class="top-act">

            <div class="top-act__group d-md-none">
                <button class="top-act__btn">
                    <img
                        src="./icons/heart.svg"
                        alt=""
                        class="icon top-act__icon"
                    />
                    <span class="top-act__title">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-act__btn">
                    <img
                        src="./icons/buy.svg"
                        alt=""
                        class="icon top-act__icon"
                    />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>
            <!-- avatar -->
            <div class="top-act__user">
                <img
                    src="{{User_Avarta}}"
                    {{! "./icons/avatar.svg" }}
                    alt=""
                    class="top-act__avatar"
                />

            </div>
        </div>
    </div>
</div>