<div class="container">
    <div class="top-bar">
        <!-- more -->
        <button
            class="top-bar__more d-none d-lg-block js-toggle"
            toggle-target="#navbar"
        >
            <img
                src="./icons/more.svg"
                alt=""
                class="icon top-bar__more-icon"
            />
        </button>

        <!-- logi -->
        <a href="/" class="logo">
            <img src="./icons/logo.svg" alt="P-EMIC" class="logo__img" />
            <h1 class="logo__title">P-EMIC</h1>
        </a>

        <div class="navbar--overlay js-toggle" toggle-target="#navbar"></div>
        <!-- actions -->
        <div class="top-act">
            <a
                href="/dangnhap"
                class="btn btn--text d-md-none prevent-select"
            >Đăng nhập</a>
            <a
                href="/dangky"
                class="btn btn--primary top-act__sign-up prevent-select"
            >Đăng ký</a>
        </div>
    </div>
</div>