<div class="container">
    <div class="top-bar">
        <!-- more -->
        <button
            class="top-bar__more d-none d-lg-block js-toggle"
            toggle-target="#navbar"
        >
            <img
                src="./icons/more.svg"
                alt=""
                class="icon top-bar__more-icon"
            />
        </button>

        <!-- logi -->
        <a href="/" class="logo">
            <img src="./icons/logo.svg" alt="Máy làm đá" class="logo__img" />
            <h1 class="logo__title">MÁY LÀM ĐÁ</h1>
        </a>
        <!-- nabar -->
        <nav id="navbar" class="navbar hide">
            <button
                class="navbar__close-btn d-none d-lg-block js-toggle"
                toggle-target="#navbar"
            >
                <img src="./icons/arrow-left.svg" alt="" class="icon" />
            </button>
            <a href="#!" class="nav-btn d-none d-md-flex">
                <img src="./icons/buy.svg" alt="" class="icon nav-btn__icon" />
                <span class="nav-btn__title">Card</span>
                <span class="nav-btn__qty">3</span>
            </a>
            <a href="#!" class="nav-btn d-none d-md-flex">
                <img
                    src="./icons/heart.svg"
                    alt=""
                    class="icon nav-btn__icon"
                />
                <span class="nav-btn__title">Favorite</span>
                <span class="nav-btn__qty">3</span>
            </a>

        </nav>
        <div class="navbar--overlay js-toggle" toggle-target="#navbar"></div>
        <!-- actions -->
        <div class="top-act">
            <a href="./dangnhap" class="btn btn--text d-md-none">Đăng nhập</a>
            <a href="./dangky" class="btn btn--primary top-act__sign-up">Đăng ký</a>
        </div>
    </div>
</div>