<main class="profile">
    <h3>Thay đổi mật khẩu</h3>

    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mật khẩu mới</label>
            <input
                type="password"
                class="form-control"
                id="User_Password"
                name="User_Password"
                aria-describedby="emailHelp"
            />

        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Xác nhận lại mật
                khẩu</label>
            <input
                type="password"
                class="form-control"
                id="User_PasswordConfirm"
                name="User_PasswordConfirm"
                aria-describedby="emailHelp"
            />
            <div id="email_err" class="form-text" style="color: red;"></div>
            <div id="email_done" class="form-text" style="color: green;"></div>
        </div>

        <button id="btn_profile_change_password" class="btn btn-primary">Thay
            đổi mật khẩu</button>

    </form>

</main>

<script>
    $(document).ready(function () { // Thay đổi mật khẩu
    $("#btn_profile_change_password").on("click", function (e) {
    e.preventDefault(); if ($("input[name='User_Password']").val().length < 6) {
    $("#email_err").html(`Mật khẩu phải ít nhất 6 ký tự`); } else { if (
    $("input[name='User_Password']").val() !=
    $("input[name='User_PasswordConfirm']").val() ) { $("#email_err").html(`Mật
    khẩu xác nhận không đúng`); } else { $.ajax({ url: "/changepassword", type:
    "POST", dataType: "json", contentType:
    "application/x-www-form-urlencoded;charset=UTF-8", data:
    $("form").serialize(), success: function (data, textStatus, jqXHR) { if
    (data.Mess.length == 0) { $("#email_done").html( `Thay đổi mật khẩu thành
    công!` ); } else { $("#email_err").html(data.Mess); } }, error: function
    (xhr, status, error) { $("#email_err").html(xhr.responseText); }, }); } }
    }); });

</script>