<main class="auth">
    <div class="auth__content">
        <div class="auth__content-inner">

            <h3>Đăng ký</h3>

            <form>
                <div class="mb-3">
                    <label
                        for="exampleInputEmail1"
                        class="form-label"
                    >Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="User_Email"
                        name="User_Email"
                        aria-describedby="emailHelp"
                    />

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mật
                        khẩu</label>
                    <input
                        type="password"
                        class="form-control"
                        id="User_Password"
                        name="User_Password"
                    />
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mật
                        khẩu xác nhận</label>
                    <input
                        type="password"
                        class="form-control"
                        id="User_PasswordConfirm"
                        name="User_PasswordConfirm"
                    />
                    <div
                        id="email_err"
                        class="form-text"
                        style="color: red;"
                    ></div>
                    <div
                        id="email_done"
                        class="form-text"
                        style="color: green;"
                    ></div>
                </div>

                <button id="btn_dangky" class="btn btn-primary">Đăng ký</button>

            </form>

        </div>
    </div>

</main>
<script>
    $(document).ready(function () { function IsEmail(email) { var regex =
    /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/; if
    (!regex.test(email)) { return false; } else { return true; } }
    $("#btn_dangky").on("click", function (e) { e.preventDefault();
    $("#email_err").html(``); $("#email_done").html(``); if
    (!IsEmail($("#User_Email").val())) { $("#email_err").html(`Email không hợp
    lệ`); return; } if ($("#User_Password").val().length<6) {
    $("#email_err").html(`Mật khẩu ít nhất 6 ký tự`); return; } if
    ($("#User_Password").val() !=$("#User_PasswordConfirm").val()) {
    $("#email_err").html(`Mật khẩu xác nhận không đúng`); return; } var url =
    "/register"; var settings = { data: $("form").serialize(), method: "POST",
    statusCode: {}, success: function (data, textStatus, jqXHR) { if
    (data.Mess.length > 0) { $("#email_err").html(data.Mess) ; } else {
    $("#email_done").html( `Đăng ký tài khoản thành công vào hòm thư để active
    tài khoản!` ); } }, error: function (jqXHR, textStatus, errorThrown) {
    $("#email_err").html(jqXHR.responseText); }, }; $.ajax(url, settings); });
    });
</script>