<main class="auth">

    <div class="auth__content">
        <div class="auth__content-inner">
            <a href="/" class="logo">
                <img src="./icons/logo.svg" alt="P-EMIC" class="logo__img" />
                <h1 class="logo__title">P-EMIC</h1>
            </a>
            <h1 class="auth__heading">Đăng ký</h1>
            <p class="auth__desc">Hãy tạo tài khoản của bạn và mua sắm như một
                người chuyên nghiệp và tiết kiệm tiền.</p>
            <form action="" class="form auth__form" id="Frm_dangky">
                <div class="form__group">
                    <div class="form__text-input">
                        <input
                            type="email"
                            name="User_Email"
                            id="User_Email"
                            placeholder="Email"
                            class="form__input"
                            required
                        />
                        <img
                            src="./icons/email.svg"
                            alt=""
                            class="form__input-icon icon"
                        />
                        <img
                            src="./icons/form-error.svg"
                            alt=""
                            class="form__input-icon--error"
                        />
                    </div>
                    <p class="form__error" id="err_email">Email không đúng định
                        dạng</p>
                </div>
                <div class="form__group">
                    <div class="form__text-input">
                        <input
                            type="password"
                            name="User_Password"
                            id="User_Password"
                            placeholder="Password"
                            class="form__input"
                            required
                            minlength="6"
                        />
                        <img
                            src="./icons/key.svg"
                            alt=""
                            class="form__input-icon icon"
                        />
                        <img
                            src="./icons/form-error.svg"
                            alt=""
                            class="form__input-icon--error"
                        />
                    </div>
                    <p class="form__error" id="err_pas">Mật khẩu tối thiểu 6 ký
                        tự</p>
                </div>

                <div class="form__group">
                    <div class="form__text-input">
                        <input
                            type="password"
                            name="User_PasswordConfirm"
                            id="User_PasswordConfirm"
                            placeholder="Confirm Password"
                            class="form__input"
                            required
                            minlength="6"
                        />
                        <img
                            src="./icons/key.svg"
                            alt=""
                            class="form__input-icon icon"
                        />
                        <img
                            src="./icons/form-error.svg"
                            alt=""
                            class="form__input-icon--error"
                        />
                    </div>
                    <p class="form__error">Mật khẩu tối thiểu 6 ký tự</p>

                </div>
                <div class="form__group form__group--inline">

                    <a href="/reset-password" class="auth__link">Khôi phục mật
                        khẩu</a>
                    <p class="form__mess form__mess--err" id="output">
                    </p>
                </div>
                <div class="form__group auth__btn-group">
                    <button
                        type="submit"
                        id="btn_dangky"
                        class="btn btn--primary form__submit-btn"
                    >Đăng ký</button>

                </div>
            </form>
            <div class="auth__act">
                <p class="auth__text">Bạn đã có tài khoản chưa?</p>
                <a href="/log-in" class="auth__link"> Đăng nhập</a>
            </div>
        </div>
    </div>

</main>