<main class="auth">

    <div class="auth__content">
        <div class="auth__content-inner">
            <a href="/" class="logo">
                <img src="./icons/logo.svg" alt="P-EMIC" class="logo__img" />
                <h1 class="logo__title">P-EMIC</h1>
            </a>
            <h1 class="auth__heading">Xin chào lần nữa!</h1>
            <p class="auth__desc">
                Hãy nhập chích xác địa chỉ mail của bạn. Chúng tôi sẽ gửi mật
                khẩu vào hòm thư của bạn. Bạn vào hòm thư để lấy lại mật khẩu.
                Để bảo mật bạn cần thay đổi mật khẩu nhé!
            </p>
            <form class="form auth__form">
                <div class="form__group">
                    <div class="form__text-input">
                        <input
                            type="email"
                            name="User_Email"
                            id=""
                            placeholder="Email"
                            class="form__input"
                            required
                        />
                        <img
                            src="./icons/email.svg"
                            alt=""
                            class="form__input-icon icon"
                        />
                        <img
                            src="./icons/form-error.svg"
                            alt=""
                            class="form__input-icon--error"
                        />
                    </div>
                    <p class="form__error">Email chưa đúng định dạng</p>
                </div>

                <div class="form__group auth__btn-group">
                    <button
                        id="btn_Rest_password"
                        class="btn btn--primary form__submit-btn"
                    >Đặt lại mật khẩu</button>

                </div>
            </form>
            <div class="auth__act">
                <p class="auth__text">Vẫn chưa có tài khoản?</p>
                <a href="/dangky" class="auth__link"> Đăng ký</a>
            </div>
        </div>
    </div>
</main>