<html id="Id_main" lang="vn">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Máy làm đá</title>
        {{!-- Favicon --}}
        <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
        <link rel="manifest" href="./favicon/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
 

 <!-- font -->
        <link rel="stylesheet" type="text/css" href="./font/stylesheet.css" />
        <link rel="stylesheet" type="text/css" href="./css/main.css" />

        
    </head>
    <body>
        <header id="header" class="header">
           {{> header}}
        </header>
            
            <div class="container" id="container_body">
                {{{body}}}
            </div>
            <footer class="footer" id ="footer">
               {{> footer}}
            </footer>
           
               <div class="main__chat">
                    <a class="main__chat--phone" href="tel:0325031168"><img title="call Hotline" src="./icons/phone.png" alt="" /></a>
                    <a class="main__chat--zalo" href="https://zalo.me/0972963718" target="_blank"><img title="Chat zalo" src="./icons/zalo.png" alt="" /></a>
                     <a class="main__chat--message" href="https://m.me/maypemic?mibextid=qWsEUC" target="_blank"><img title="Chat Facebook" src="./icons/message.png" alt="" /></a> 
                    
               </div>
               
               <div id="toasts" ></div>
               
       <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>

        <script  type="application/javascript" src="js/index.js" defer></script>
  
    
    </body>
</html>