<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Máy làm đá</title>
        {{!-- Favicon --}}
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

 <!-- font -->
        <link rel="stylesheet" type="text/css" href="font/stylesheet.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <script type="application/javascript" src="js/scripts.js"></script>
    </head>
    <body>
        <header id="header" class="header">
            {{#each Items}}
              {{> header-logined User_Avarta=User_Avarta}}
             {{/each}}

           {{!-- {{> header-logined Items}} --}}
        </header>
           
            <div class="container">
                {{{body}}}
            </div>
            <footer class="footer" id ="footer">
               {{> footer}}
            </footer>
            
                    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script type="application/javascript" src="js/register.js"></script>
        <script  type="application/javascript" src="js/sanpham.js"></script>
        </div>

    </body>
</html>